body {
    font-family: 'Rajdhani', sans-serif;
    background-image: url('../Imagens_site/papeis_de_parede/papel-de-parede-principal.svg');
    background-repeat: repeat;
    flex-direction: column;
    display: flex;
    justify-content: center; /* horizontal */
    align-items: center;     /* vertical */
    height: 100vh;
    margin: 0;
}

header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    
    position: fixed;
    top: 0;
    left: 0;
    margin: 10px;
    border-radius: 10px;
    padding: 1px 10px;
}

header a{
    text-decoration: none;
}

header ul{
    list-style-type: none;
    padding-left: 10px;
    margin-left: 0;
    display: flex;
    justify-content: space-between;
}

header ul li{
    padding: 0 25px;
}

.introducao{
    background-color: whitesmoke;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 5px 20px;
    width: 1200px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid orange;
}

.introducao h1{
    text-align: center;
}

.introducao p{
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: -15px;
    margin-bottom: 30px;
}

.rodape{
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 10px;
    background-color: white;
    border-radius: 10px;
    padding: 1px 10px;
    border: 2px solid orange;
}

.introducao .primeiro-titulo{
    position: absolute;
    background-color: whitesmoke;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 5px 100px;
    width: 16%;
    height: 10%;
    margin-left: 30%;
    margin-right: auto;
    margin-top: -100px;
    border: 2px solid orange;
}

