body {
    font-family: 'Rajdhani', sans-serif;
    background-image: url('../Imagens_site/papeis_de_parede/papel-de-parede-principal.svg');
    background-repeat: repeat;
}

header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    
    position: fixed;
    top: 0;
    left: 0;
    margin: 10px;
    border-radius: 10px;
    padding: 1px 10px;
}

header a{
    text-decoration: none;
}

header ul{
    list-style-type: none;
    padding-left: 10px;
    margin-left: 0;
    display: flex;
    justify-content: space-between;
}

header ul li{
    padding: 0 25px;
}

main{
    margin-top: 90px;
    margin-top: 50px;
    padding: 1px 10px;
}

main h1{
    padding-left: 25px;
    padding-right: 25px;
    color: orange;
}

main p{
    text-align: justify;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: -10px;
    color: black;
}

.layout{
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    min-height: 100vh;
    margin-top: 10px;
    grid-template-rows: auto 1fr auto; /* conteúdo cresce no meio */
    grid-template-areas: 
    ". . ."
    "coluna-esquerda conteudo coluna-direita"
    "rodape rodape rodape";
}

.layout .estilo-background{
    background-color: white;
    border-radius: 10px;
}

.coluna-esquerda{
    grid-area: coluna-esquerda;
}

.coluna-direita {
    grid-area: coluna-direita;
}

.conteudo {
    margin: -5px 20px;
    grid-area: conteudo;
}

.rodape{
    grid-area: rodape;
    background-color: white;
    border-radius: 10px;
    border: 2px solid orange;
    
    width: 35%;              /*Reduz a largura da caixa */
    margin: 10px 10px 4% 60% ;  /* centraliza horizontalmente */
    padding: 10px 15px;      /* espaço interno*/
}

.rodape p{
    text-align: justify;
    padding-left: 8px;
    padding-right: 2px;
}

.lista-imagens {
    display: flex;
    flex-direction: column;  /* cada bloco na vertical */
    gap: 20px;                /* espaço entre blocos */
}

.imagem-descritiva {
    display: flex;
    flex-direction: row;      /* imagem ao lado do texto */
    gap: 20px;
    align-items: flex-start;  /* alinha imagem e texto no topo */
}

.imagem-descritiva img {
    width: 40%;
    height: auto;
    border-radius: 8px;
}

.imagem-descritiva p {
    text-align: justify;
    font-size: 16px;
    color: #333;
    margin-top: 40px;
    padding: auto 0;
}

.linha-separacao{
    border-top: 3px solid orangered;
}

.video-propriedades{
    position: relative;
    padding-bottom: 56.25%; /* Proporção 16:9 */
    height: 0;
    max-width: 100%;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    margin-bottom: 35px; /* Espaço abaixo do vídeo */
}

.video-propriedades iframe {
    position: absolute;
    top: 0;
    width: 80%;
    height:100%;
}

.video-titulo{
    margin: 20px 40px;
    color: orange;
}

.primeiro-titulo{
    margin: 40px -25px;
    color: orangered;
}